/* * {
  margin: 0;
  padding: 0; 
} */

#gradient {
  background:linear-gradient(#070000, #4c0001);
  height: 100%;
  width: 100%
 }
 #projects {
   margin-left: 10px;
  
 }

 h2 {
   color: white;
 }