@import 'https://fonts.googleapis.com/css?family=Open+Sans';

body {
  background-image: url('../img/city.jpg'); 
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  margin: 0;
  padding:0;
}

html {
  height: 100%;
  margin: 0;
  padding:0;
}

header {
  background: #000;
  width: 100%;
  height: 76px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  border-bottom: 1px solid grey;
  padding-bottom: 10px;
  opacity: .9;
}

ul {
  list-style: none;
  
}

li {
  display: inline-block;
  padding: 10px;
  
}

a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

nav {
  text-align: center;
  font-size: 27px;
}

nav ul li  {
  letter-spacing: 4px;
  margin-right: 8px;
}
  


nav ul li a:hover {
  color: grey;
  border-bottom: 2px solid grey;
  
}
 
  
#menu-icon {
  background: url('../img/ham.png');
  display: hidden;
  width: 32px;
  height: 32px;
}

 .footer {
   background-color: black;
 }

  footer p {
   color: white;
 }

 footer {
   height: 112px;
   width: 100%;
   background-color: #000;
   position: absolute;
   left: 0px;
   bottom: 0px;
 }

.social {
   height: 75px;
   width: 75px;
   padding-right: 28px;
 }

 .ul {
   text-align: center;
 }
  
   



  
  

  
  


  



 



  




 

 



   


   