.section {
  background-image: url("../img/markus-spiske-221494-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.mainPhoto {
  border-radius: 50%;
  height: 200px;
  width: 150px;
}





 


   


   